<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb - Host </title>
</head>
<body>
    <h1> Enter details </h1>
        <form action="/host/home-added" method="POST">
        <h1> Add your home : </h1>
            <input type="text" name="home" placeholder="Enter the name of the home"/>
            <input type="text" name="locarion" placeholder="Enter the location"/>
            <input type="text" name="price" placeholder="Enter the price of the home"/>
            <input type="submit"/>
        </form> 
</body>
</html>