<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb - Host</title>

    <style>
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(250, 52, 52);
    margin: 0;
    padding: 30px;
    color: white;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    background-color: #ff385c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
}


a:hover {
    background-color: #d63045;
}

    </style>
</head>
<body>

    <header>
        <h1> Welcome to Airbnb </h1>
    </header>


    <section>
    <h1> Home added successfully </h1>
    <a href="/"> Go to Home </a>
    </section>
</body>
</html>